.checkbox {
  border: 1px solid silver;
  border-radius: 3px;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  margin-top: 4px;
  margin-bottom: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.input.completed {
  color: grey;
  text-decoration: line-through;
}
