.box {
  padding-top: 3px;
  padding-right: 5px;
}

.checkbox {
  border: 1px solid silver;
  border-radius: 3px;
  width: 17px;
  height: 17px;
  margin-right: px;
  margin-top: 4px;
  margin-bottom: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.completed {
  color: grey;
  text-decoration: line-through;
}

.actions {
  padding-left: 27px;
  padding-top: 5px;
}
