.text {
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.2;
  flex: 1 1 100%;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid transparent;
  min-height: 19px;
}

.text:hover {
  cursor: pointer;
}

.multiline {
  white-space: pre;
}

.textarea {
  width: 100%;
  padding: 5px;
  background: none;
  font-size: 16px;
  line-height: 1.2;
  border: 1px solid silver;
  border-radius: 5px;
  resize: none !important;
  outline: none;
  height: 19px;
  word-wrap: break-word;
  word-break: break-all;
  background: white;
}
