.link {
  border: 1px solid silver;
  border-radius: 3px;
  width: 18px;
  height: 17px;
  margin-right: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 10px;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.link:hover {
  border-color: black;
}

.link:hover .label {
  display: none;
}

.link:hover .emoji {
  display: inline-block;
}

.emoji {
  display: none;
}

.inactive {
  min-width: 18px;
  box-sizing: border-box;
  margin-right: 5px;
}
