.link {
  align-items: center;
  border-radius: 3px;
  border: 1px solid silver;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-size: 10px;
  height: 17px;
  justify-content: center;
  margin-right: 5px;
  margin-top: 7px;
  text-decoration: none;
  width: 18px;
}

.link:hover {
  border-color: black;
}

.link:hover .label {
  display: none;
}

.link:hover .emoji {
  display: inline-block;
}

.emoji {
  display: none;
}

.inactive {
  min-width: 18px;
  box-sizing: border-box;
  margin-right: 5px;
}

.handle {
  margin-top: 7px;
}
