.number {
  border: 1px solid silver;
  border-radius: 3px;
  min-width: 17px;
  height: 17px;
  margin-right: 5px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  padding-top: 1px;
  font-size: 10px;
  color: inherit;
  text-decoration: none;
}

.number:hover {
  border-color: black;
}

.inactive {
  min-width: 18px;
  box-sizing: border-box;
  margin-right: 5px;
}

.row {
  position: relative;
}

.link {
  position: absolute;
  left: -20px;
  top: 0px;
  padding: 2px 5px 7px;
  text-decoration: none;
  color: grey;
}

.link:hover {
  color: black;
}

.link > span {
  visibility: hidden;
}

.row:hover .link > span {
  visibility: visible;
}
