.button {
  cursor: pointer;
  user-select: none;
  color: var(--text-color);

  padding: 2px 10px 4px;
  text-align: center;

  background: var(--box-background);
  border: var(--border);
  box-sizing: border-box;
  border-radius: var(--radius);
}

.button:hover {
  border-color: var(--hover);
  color: var(--hover);
  background: var(--icon-hover-background);
}
