.button {
  cursor: pointer;
  border-radius: 5px;
  height: 22px;
  border: 1px solid silver;
  padding: 1px 10px 2px;
  text-align: center;
  background: #fcfcfc;
}

.button:hover {
  background: #f0f0f0;
  border-color: black;
}
