.button {
  cursor: pointer;
  user-select: none;

  padding: 3px 10px 3px;
  text-align: center;

  background: #ffffff;
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 4px;
}

.button:hover {
  border-color: black;
  background: #f0f0f0;
}
