.keys {
  width: 160px;
}

.key {
  display: inline-block;
  padding: 0px 6px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  vertical-align: 1px;
  color: white;
  background: black;
  border-radius: 4px;
  min-width: 10px;
  text-align: center;
}

.table {
  border-spacing: 0;
  border: 1px solid #c6cbd1;
  width: 100%;
}

.table td {
  padding: 6px 13px;
}

.table td + td {
  border-left: 1px solid #c6cbd1;
}

.input {
  width: 30px;
  text-align: center;
}

.input.error {
  outline: 1px solid red;
}
