.key {
  display: inline-block;
  padding: 0px 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  vertical-align: 1px;
  color: var(--box-background);
  background: var(--text-color);
  border-radius: var(--radius);
  min-width: 10px;
  text-align: center;
}

.input {
  width: 30px;
  text-align: center;
  background: var(--box-background);
  border: var(--border);
  color: var(--text-color);
  border-radius: var(--radius);
  padding: 3px 5px 3px;
}

.input.error {
  outline: 1px solid red;
}
