.title {
  font-size: 36px !important;
  font-weight: 700;
}

.key {
  display: inline-block;
  padding: 0px 6px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  vertical-align: 1px;
  color: white;
  background: black;
  border-radius: 4px;
  min-width: 10px;
  text-align: center;
}

.table {
  border-spacing: 0;
  border: 1px solid #c6cbd1;
  width: 100%;
}

.table td {
  padding: 6px 13px;
}

.table td + td {
  border-left: 1px solid #c6cbd1;
}

.close {
  cursor: pointer;
  width: 18px;
  width: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: grey;
  border-radius: 50%;
}

.close path {
  fill: white;
}

.close:hover {
  background: black;
}
