.dragFileMessage {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: white;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
