.textarea {
  width: 100%;
  padding: 10px;
  margin-left: -11px;
  background: none;
  font-size: 16px;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 5px;
  resize: none !important;
  outline: none;
}

.textarea:focus {
  background: white;
  border: 1px solid silver;
}
