.button {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.button svg {
  width: 18px;
  height: 18px;
}

.button path {
  stroke: grey;
}

.button:hover path {
  stroke: black;
}
