.button {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  background: grey;
  border-radius: 50%;
}

.button path {
  fill: white;
}

.button:hover {
  background: black;
}
