.button {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: var(--l);
  right: var(--l);
  width: var(--box-size);
  height: var(--box-size);
  background: var(--line);
  border-radius: 50%;
}

.button path {
  fill: var(--background);
}

.button:hover {
  background: var(--hover);
}
