:root {
  --background: #fafafa;
  --silent: #aab4c0;
  --line: #748190;
  --hover: black;
  --text-color: black;
  --box-size: 20px;
  --box-background: white;
  --border: 1px solid #c6cbd1;
  --radius: 4px;
  --icon-hover-background: #f0f0f0;
  --s: 5px;
  --m: 10px;
  --l: 20px;
  --xl: 25px;
  --font-title: 22px;
  --font-title-height: 26px;
  --font-subtitle: 18px;
  --font-subtitle-height: 21px;
  --font-text: 14px;
  --font-text-height: 23px;
}

[data-theme="dark"] {
  --background: #222;
  --silent: #888;
  --line: #999;
  --hover: white;
  --text-color: #bbb;
  --box-size: 20px;
  --box-background: #444;
  --border: 1px solid #999;
  --radius: 4px;
  --icon-hover-background: #555;
  --s: 5px;
  --m: 10px;
  --l: 20px;
  --xl: 25px;
  --font-title: 22px;
  --font-title-height: 26px;
  --font-subtitle: 18px;
  --font-subtitle-height: 21px;
  --font-text: 14px;
  --font-text-height: 23px;
}

body {
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--text-color);
  margin: 0;
  padding: 15px 20px 20px;
  font-size: var(--font-text);
  line-height: var(--font-text-height);
  transition: all 350ms linear;
}

#root {
  max-width: 600px;
}
