.about {
  margin: 40px 0;
}

.about a {
  color: inherit;
  text-decoration: none;
}

.about a:hover {
  text-decoration: underline;
}

.autoupdate {
  color: var(--silent);
}

.button {
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}
