.input {
  width: 100%;
  padding: 2px 5px;
  background: none;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  margin-left: -2px;
  font-size: 16px;
  line-height: 1.2;
}

.input:focus {
  background: white;
  border: 1px solid silver;
}

input::placeholder {
  color: darkgrey;
}
