.handle {
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  text-align: center;
  left: -25px;
  top: 0;
  width: 20px;
  height: 20px;
}

.handle path {
  fill: silver;
}

.handle:hover path {
  fill: black;
}

.item {
  position: relative;
}

.item:hover .handle {
  visibility: visible;
}
